<?xml version="1.0"?>
<model>
  <name>FlatHexa</name>
  <version>1.0</version>
  <sdf version='1.6'>flathexa.sdf</sdf>

  <author>
   <name>Andrea Berra and Julien Mellet</name>
   <email>andrea.berra@outlook.com</email>
  </author>

  <description>
    This is a model of the FlatHexa.
  </description>
</model>
